enhanced-dpy
asyncpg
psutil
timeago
parsedatetime
python-dateutil
pygit2
jishaku
PrettyTable
mystbin.py
sr_api
git+https://github.com/TheMoksej/wavelink
youtube_dl
DEL.py
statcord.py
demjson
async_cleverbot
gmailpy
del.py
dblpy
discordlists.py
