discord.py
timeago
jishaku
psutil
numpy
parsedatetime
aiohttp
asyncpg
googletrans
praw
wand
humanize
dropbox
wavelink
youtube_dl
lyricsgenius
pathlib
asyncio
statcord.py
python-dateutil
prettytable
dblpy
discordlists.py